/* Created by: Nathan De Silva
* Created on: April 2024
* This file contains the CSS for index.html
*/

*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
  color: rgb(255, 255, 255);
}

.mdl-layout__content {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 20pt;
}

.mdl-textfield__error {
  color: #fff;
}

.page-content {
  color: rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: rgb(214, 24, 198);
}

img {
  float: right
}

.getmdl-select {
  outline: none
}

.getmdl-select .mdl-textfield__input {
  cursor: pointer
}

.getmdl-select .selected {
  background-color: #ddd
}

.getmdl-select .mdl-icon-toggle__label {
  float: right;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.4);
  transform: rotate(0);
  transition: transform 0.3s
}

.getmdl-select.is-focused .mdl-icon-toggle__label {
  color: #3f51b5;
  transform: rotate(180deg)
}

.getmdl-select .mdl-menu__container {
  width: 100% !important;
  margin-top: 2px
}

.getmdl-select .mdl-menu__container .mdl-menu {
  width: 100%
}

.getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item {
  font-size: 16px
}

.getmdl-select__fix-height .mdl-menu__container .mdl-menu {
  overflow-y: auto;
  max-height: 288px !important
}

.getmdl-select__fix-height .mdl-menu.mdl-menu--top-left {
  bottom: auto;
  top: 0
}
